<% if resource.errors.any? %>
  <div>
    <ul class="error-message-container">
      <% resource.errors.full_messages_for(attribute).each do |message| %>
        <li class="error-message-list"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
