<% if @bookmark_restaurants.present? %>
  <div id="test" class="restaurant-card-container">
    <% @bookmark_restaurants.each do |restaurant| %>
      <div class="restaurant_card">
        <%= link_to restaurant_path(restaurant) do %>
          <div class="restaurant-card-content"><%= "飲食店名: #{restaurant.name}" %></div>
          <div class="restaurant-card-content"><%= "住所: #{restaurant.address}" %></div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="no-lists">保存したお店はまだありません。</div>
<% end %>

