<div class="bookmark-button">
  <%= link_to bookmarks_path(restaurant_id: @restaurant.id), class: "bookmark-button-link", method: :post do %>
    <div class="font-size-M">ブックマーク<i class="fas fa-bookmark"></i></div>
  <% end %>
</div>
