<div>
  <%= link_to "ホーム", root_path, class: "footer-menu-link" %>
</div>
<div>
  <%= link_to "検索", restaurants_path, class: "footer-menu-link" %>
</div>
<div>
  <%= link_to "口コミ投稿", restaurant_registered_statuses_path, class: "footer-menu-link" %>
</div>
<div>
  <%= link_to "マイページ", profile_path, class: "footer-menu-link" %>
</div>
