<div>
  <%= link_to root_path, class: "footer-menu-link" do %>
    <i class="fa-solid fa-house"></i>
    <div class="footer-text">ホーム</div>
  <% end %>
</div>
<div>
  <%= link_to restaurants_path, class: "footer-menu-link" do %>
    <i class="fa-solid fa-magnifying-glass"></i>
    <div class="footer-text">検索</div>
  <% end %>
</div>
<div>
  <%= link_to restaurant_registered_statuses_path, class: "footer-menu-link" do %>
    <i class="fa-solid fa-pen-to-square"></i>
    <div class="footer-text">口コミ投稿</div>
  <% end %>
</div>
<div>
  <%= link_to profile_path, class: "footer-menu-link" do %>
    <i class="fa-solid fa-circle-user"></i>
    <div class="footer-text break-keep">マイ<wbr />ページ</div>
  <% end %>
</div>
