<div>
  <%= link_to "ホーム", root_path, class: "footer-menu-link" %>
</div>
<div>
  <%= link_to "検索", root_path, class: "footer-menu-link" %>
</div>
<div>
  <%= link_to "レビュー", root_path, class: "footer-menu-link" %>
</div>
<div>
  <%= link_to "マイページ", root_path, class: "footer-menu-link" %>
</div>
