<%= link_to bookmark_path(current_user.bookmarks.find_by(restaurant_id: restaurant.id)), class: "unbookmark-button-link", method: :delete do %>
  <div class="unbookmark-button font-size-M">ブックマーク解除<i class="fas fa-bookmark"></i></div>
<% end %>
