body {
  margin: 0;
  background-color: #F9EFDB;
  color: #000000;
  min-height: 100vh;
  position: relative;
  padding-bottom: 56px;
  box-sizing: border-box;
}

header {
  height: 56px;
  width: 100%;
  background-color: #9DBC98;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}

footer {
  height: 56px;
  width: 100%;
  background-color: #9DBC98;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

a {
  text-decoration: none;
}

.header-logo {
  width: 200px;
  align-items: center;
  display: flex;
}

.end {
  min-width: 225px;
  align-items: center;
  display: flex;
}

.footer-menu-link {
  margin-right: 20px;
}

.content {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 45px 0;
}

.registration-container {
  margin: 0 auto;
}

.login-container {
  margin: 0 auto;
}

input {
  width: 320px;
  height: 28px;
  padding: 0 10px;
  border: 1px;
  border-radius: 0.2rem;
}

.field {
  width: 344px;
}

.text-field {
  margin-bottom: 20px;
}

.submit-btn {
  width: 340px;
  height: 40px;
  background-color: #638889;
  color: #ffffff;
  margin-bottom: 20px;
}

ul {
  padding-inline-start: 0px;
}

.error-message-list {
  list-style: none;
  color: #E50046;
}

.flash-message {
  color: #E50046;
}

.guide-link {
  color: #000000;
}

.guide-link:hover {
  text-decoration: underline;
}
