body {
  margin: 0;
  background-color: #FEFAE0;
  color: #000000;
}

header {
  height: 56px;
  background-color: #A6B37D;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header-logo {
  width: 200px;
  align-items: center;
  display: flex;
}

.end {
  min-width: 225px;
  align-items: center;
  display: flex;
}
